/* _footer.scss */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #5a4e8c;
}

.footer-mapa {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.footer-mapa iframe {
  width: 100%;
  height: 85px;
  max-width: 400px;
  border-radius: 35px;
  border: none;
}

.redes {
  display: 1 1 200px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.redes-texto {
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}

.redes a {
  display: inline-block;
}

.redes img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.footer-copy {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: #ddd;
  font-size: 0.85rem;
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-mapa,
  .redes {
    justify-content: center;
    max-width: 400px;
    margin-bottom: 15px;
  }
  .redes {
    flex-direction: column;
    align-items: center;
  }
  .redes-texto {
    margin-bottom: 8px;
    text-align: center;
  }
  .redes a {
    display: inline-flex;
    margin: 0 5px;
    margin-left: 10px;
  }
}